.form{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background-color: gray;
    z-index: 999;
}

.recipedetails{
    float:left;
}

.ingredientlist{
    float:right;
}
.buttons{
    clear:both;
}