<div class="form" *ngIf="isVisible">
    <h2>Recipe Form</h2>
    <div class="recipedetails">
        <div><label>Name: </label><input [(ngModel)]="recipe.name" type="text" /></div>
        <div><label>Description: </label><input [(ngModel)]="recipe.description" type="text" /></div>
    </div>
    <div class="ingredientlist">
        <table>
            <tr>
                <th>Name</th>
                <th>Qty</th>
                <th>Unit</th>
            </tr>
            <tr *ngFor="#ingredient of ingredients">
                <td><input [(ngModel)]="ingredient.ingredient" type="text" name="" placeholder="Add ingredient..." 
                    (keydown)="onRowEdit(ingredient.isInsertRow)"/></td>
                <td><input [(ngModel)]="ingredient.amount" type="text" name="" 
                    (keydown)="onRowEdit(ingredient.isInsertRow)"/></td>
                <td><input [(ngModel)]="ingredient.unit" type="text" name="" 
                    (keydown)="onRowEdit(ingredient.isInsertRow)"/></td>
            </tr>
        </table>
    </div>
    <div class="buttons">
        <div><button type="button" (click)="onCloseButtonClicked()">Close</button></div>
        <div><button type="button" (click)="onSubmitButtonClicked()">Submit</button></div>    
    </div>
</div>