<div class="list">
    <h2>Recipe List</h2>
    <div class="recipes" 
        *ngFor="#recipe of recipes"
        [class.selected]="recipe === selectedRecipe"
        (click)="onSelect(recipe)">
        Name: {{recipe.name}} Description: {{recipe.description}}
        <div class="buttons">
            <button type="button" (click)="onEditButtonClicked(recipe)">Edit</button>
        </div>
    </div>
</div> 
<recipe-form [recipe]="selectedRecipe" [isVisible]="isCardVisible" (close)="onFormClosed()"></recipe-form>
