.list{
    /*display: inline-block;*/
    width: auto;
    float: left;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.recipes{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    /*width: 10em;*/
}

.recipes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0em;
    height: 1.6em;
    border-radius: 4px;
}
  
.recipes li.selected:hover {
    color: white;
}

.recipes li:hover {
    color: #607D8B;
    background-color: #EEE;
    left: .1em;
}

.recipes .text {
    position: relative;
    top: -3px;
}
