.list{
    /*display: inline-block;*/
    width: auto;
    float: left;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.recipes{
    margin: 0 0 2em 0;
    padding: 0;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0em;
    height: 1.6em;
    border-radius: 4px;
}
  
.recipes .selected:hover {
    color: white;
}

.recipes:hover {
    color: #607D8B;
    background-color: #EEE;
    left: .1em;
}

.recipes .text {
    position: relative;
    top: -3px;
}

.buttons{
    float: right;
}
