<div class="schedule">
    <h2>Meal Schedule</h2>
    <div class="days" 
        *ngFor="#day of scheduleDays"
        (click)="onSelect(day)"
        [class.selected]="day === selectedDay"
        [class.isInThePast]="day.isInThePast">
        <div class="day-badge">
            {{ day.day | date:"EEE d/MMM" }}
        </div>
        <div *ngIf="day.recipe" class="recipe">
            {{day.recipe.name}}
            <div class="buttons" *ngIf="!day.isInThePast">
                <button type="button" (click)="onClear(day)">Clear</button>
            </div>
        </div>
        <div *ngIf="!day.recipe" class="recipe">
            Unscheduled
        </div>
    </div>
</div>